*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}
th,td{
    font-size: 15px;
    padding: 1px 0px;
    font-style: oblique;
}
.main-div{
    /* background-color: rgb(147, 235, 230); */
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.left-part{
    /* background-color: rgb(124, 81, 81); */
    /* border: 3px solid rgb(128, 0, 53); */
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.link1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.link1 p{
    font-weight: 500;
    font-size: 20px;
}
.left-part img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.left-part img:hover{
    transform: scale(1.5);
    transition: 0.5s;
}

.right-part{
    /* border: 3px solid rgb(34, 228, 27); */
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.div1{
    height: 25vh;
    text-align: center;
    width: 100%;
    /* border: 5px solid salmon; */
}
.div11{
    /* background-color: yellow; */
    border-bottom: 7px solid black;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}
.div11 .part1{
    border-right: 3px solid black;
    width: 50%;
    padding: 25px;
}
.div11 .part1 h1{
    font-size: 60px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.div11 .part1 p{
    font-size: 20px;
    font-weight: 15px;
}
.div11 .part2{
    border-left: 3px solid black;
    width: 50%;
    padding: 3px 15px;
}
.div11 .part2 p{
    text-align: justify;
}
.div12{
    width: 100%;
    display: flex;
    align-items:end;
    justify-content: center;
    border-bottom: 5px solid black;
    padding: 0px 0px;
}
.div12 .skills{
    width: 100%;
    /* background-color: yellow; */
}
.overViewData{
    text-align: left;
}

.div13{
    /* background-color: rgb(214, 68, 153); */
    border-bottom: 7px solid black;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}
.div13 table{
    /* background-color: aquamarine; */
    width: 100%;
    text-align: left;
}
.div13 .part1{
    /* background-color: aquamarine; */
    width: 100%;
    display: flex;
    text-align: left;
}
.star{
    text-align: left;
    padding: 2px 10px;
    /* background-color: aqua; */
    display: flex;
    justify-content: flex-start;
    /* justify-content: space-between; */
    align-items: end;
    flex-direction: row;
}
.star .FontAwesomeIcon{
    margin-left: 15px;
    
}
.part2 table th{
    padding: 0px 10px;
    color: brown;
}
/* .div 4 design */
.div14{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */
}
.div14  img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.div14 img:hover{
    transform: scale(1.3);
    transition: 0.5s;
}
.div13 .part1{
    border-right: 3px solid black;
    width: 50%;
}
.div13 .part2{
    border-left: 3px solid black;
    width: 50%;
}



